<h1 id="tableLabel">User Projects</h1>

<p>This component demonstrates fetching project data from the server.</p>

<p *ngIf="!projects"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="projects">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>Project Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Project Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.projectId }}</td>
      <td>{{ project.projectTitle }}</td>
      <td class='date-input'>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" [value]="project.startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
      <td class='date-input'>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" [value]="project.endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </td>
      <td>{{ project.currentStatus }}</td>
    </tr>
  </tbody>
</table>
